@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*** PAGE STYLES ***/

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    /*background-color: #fafafa;*/
    font-family: 'Roboto', sans-serif;
    /*margin-top: .5%;*/
}

.graphic-divider {
    border-top: 3px solid #d9d9d9;
    margin: 20px 0 7px 0;
    clear: both;
}

.updated {
    color: #525252;
    font-size: .9rem;
    font-style: italic;
}

.instructions {
    color: rgba(165, 15, 21, 1);
    font-size: .9rem;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    line-height: 16px;
}

.chart-chatter {
    font-size: .9rem;
    margin-top: -16px;
    font-style: italic;
    text-align: center;
}

.graphic-left {
    width: 49%;
    float: left;
    margin-bottom: 20px;
}

.graphic-right {
    width: 49%;
    float: right;
    margin-bottom: 20px;
}

.section-heading {
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 3px solid #1e1e1e;
    padding-bottom: 5px;
    margin: 35px 0 25px 0;
    font-size: 2.6rem;
    line-height: 1;
}

.source {
    font-size: .8rem;
    font-style: italic;
    color: #505050;
    line-height: 1.2;
    margin-top: 10px;
}

/*** MAPS ***/
#map,
#rate-map,
#vaccination-map {
    height: 500px;
    width: 100%;
    /*width: 893px;
        height: 600px;
        margin: 0 auto;*/
    border: 2px solid silver;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    background-color: #fafafa;
    max-width: 300px;
    line-height: 100%;
}

.leaflet-container {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/*.leaflet-popup-content {
        font-size: 1.2em;
        letter-spacing: .2px;
    }*/

.popup-container {
    margin-top: -6px;
}

.popup-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #525252;
    margin-bottom: -16px;
}

.legend {
    width: 60px;
    /*height: 30px;*/
    opacity: .6;
    float: left;
}

.legend-chatter {
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 0;
}

.legend-container {
    width: auto;
    float: right;
    margin-bottom: 5px;
}

.legend-box {
    width: 70px;
    height: 25px;
    border: 1px solid #aaa;
    float: left;
}

.legend-circle {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

#cases-legend-circle {
    background-color: rgba(0, 0, 255, .5);
}

#deaths-legend-circle {
    background-color: rgba(255, 0, 0, .5);
}

.legend-text-bubble {
    display: inline-block;
    vertical-align: middle;
}

.legend-text-choropleth {
    font-size: .9rem;
    text-align: center;
}

/***CHARTS***/

.number-title,
.number {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    font-color: #1e1e1e;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: -14px;
}

.number-title {
    line-height: 28px;
    margin-bottom: -6px;
}

.small-chart-header,
.county-chart-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
    letter-spacing: -.2px;
    margin-bottom: 5px;
    /*margin-left: 30px;*/
    padding-bottom: 2px;
    color: #fff !important;
    text-align: center !important;
    padding: 7px;
}

.small-chart-header-cases {
    background-color: rgba(8, 81, 156, .7);
}

.small-chart-header-hospitalized {
    background-color: rgba(255, 138, 74, .7);
}

.small-chart-header-deaths {
    background-color: rgba(165, 15, 21, .7);
}

.small-chart-header-positivity {
    background-color: rgba(0, 0, 0, .7);
}

.small-chart-header-tests {
    background-color: rgba(0, 0, 0, .3);
}

.county-chart-header {
    background-color: rgba(8, 81, 156, .9);
}

.number-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    font-style: italic;
    color: #505050;
    line-height: 17px;
    text-align: center;
    margin-top: 8px;
}

.how-chart {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    margin-bottom: -1px;
}

.c3-region.region1 {
    fill: #000;
}

.c3-line {
    stroke-width: 1.5px;
}

.left-border {
    border-left: 2px solid silver;
}

.medium-2Half {
    width: 20%;
}

#small-charts-mobile {
    display: none;
}

.cases-change {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    text-transform: none;
    margin-top: 0
}

.cases-change-number {
    font-size: 1.1rem;
    font-weight: bold;
}

.immunization-date {
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    line-height: 24px;
    margin-bottom: 10px;
}

.immunization-percent {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 2rem;
    margin: 10px 0 0 0;
}

.immunization-count {
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: italic;
    text-transform: none;
    margin-top: -14px;
}

.section-button {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 4px;
    background-color: rgba(165, 15, 21, .6);

}

.section-button:hover {
    background-color: rgba(165, 15, 21, 1) !important;
    transition: 0.5s;
}

@media only screen and (max-width: 699px) {

    .graphic-left,
    .graphic-right {
        width: 100% !important;
        float: none !important;
    }

    .left-border {
        border-left: 0px;
    }

    #small-charts-desktop {
        display: none;
    }

    #small-charts-mobile {
        display: block;
    }

    .section-heading {
        font-size: 2.2rem;
    }
}